* {
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
}
#Domio {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
}
.nav h6 {
  font-size: 25px;
  color: black;
  margin-right: 30px;
}
.nav-item img {
  width: 25px;
}
#warsaw {
  overflow-x: hidden;
}
.warsaw-1 img {
  margin-top: 108px;
  width: 1636.5px;
  margin-left: -173px;
}
.display-5 {
  letter-spacing: 0.5px;
  font-size: 25px;
  font-family: "Plus Jakarta Sans";
}
.lead {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: "Plus Jakarta Sans";
}
.px-5 {
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}
.btn {
  background-color: #fff;
  border: 1px solid black;
  color: black;
}
.btn:hover {
  border: limegreen;

  color: rgb(238, 228, 157);
}
#show-casing {
  margin-left: -245px;
}
.sh-casing,
.piana {
  text-align: start;
  letter-spacing: 3px;
  font-family: "Tenor Sans";
  font-size: 38.4px;
  /* line-height: 30px; */
}
.delicate {
  text-align: start;
  margin-left: -10px;
  font-family: "Tenor Sans";
  font-style: italic;
  font-size: 35px;
}
.interior {
  line-height: 30px;
  font-family: Helvetica, sans-serif;
  text-align: start;
  font-size: 17px;
}
#show-casing {
  overflow-x: hidden;
  margin-top: -90px;
}
.image-fluid {
  /* padding-right: 200px; */
  max-width: 820px;
  height: auto;
  overflow-x: hidden;
}
.domio-showcasing {
  margin-top: -91px;
}
#chair {
  margin-left: -326px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.chair-bed img {
  width: 120.5%;
  height: auto;
}
#Threads {
  margin-top: 250px;
}
.left-side {
  margin-top: 70px;
}
.left-side img {
  /* padding: 0px 60px 0px 0px; */
  margin: 0px 130px 0px -65px;
  width: 35%;
}
.left {
  margin-left: 20px;
}
.right-side {
  margin-top: -560px;
  margin-left: 970px;
}
.right-side p {
  margin: 0px -111.5px 0px 0px;
  text-align: left;
  font-size: 17px;
  letter-spacing: normal;
  line-height: 30px;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}
.right-side a {
  color: black;
}
.right-side h6 {
  font-weight: 900;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: left;
  font-size: 20px;
  color: black;
  letter-spacing: normal;
  line-height: 30px;
  padding-top: 20px;
}
#interior {
  margin-top: 370px;
}
.fw {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 38.4px;
  line-height: 42.24px;
  text-align: center;
  letter-spacing: normal;
  font-weight: 500;
}
#interior p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: normal;
  font-weight: 500;
  margin-top: 20px;
}
#threeimg {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.left-img img,
.middle-img img,
.right-img img {
  width: 90%;
}
#project {
  overflow-x: hidden;
}
#project .img-project {
  margin-right: 150px;
  margin-left: 0px;
}
#project .proj {
  margin-top: -1004px;
  margin-right: 700px;
}
#project .d-block {
  max-width: 206%;
  height: 100%;
}
#project .mb-3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 38.4px;
  line-height: 46.08px;
  word-spacing: 10px;
}
.project-lead {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: start;
  letter-spacing: normal;
}
#project .d-grid {
  margin: 26px 23px 0px 0px;
  padding-top: 18px;
  padding-bottom: 18px;
}

#project .btn-lg {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 0;
  color: black;
}

#project .btn-lg:hover {
  border: limegreen;
  color: rgb(238, 228, 157);
}
#poliform {
  overflow-x: hidden;
}
#poliform .col-10 {
  margin-left: -290px;
}
#poliform .d-block {
  max-width: 150%;
  height: auto;
}
#poliform .poli {
  margin-left: 290px;
  margin-top: -20px;
}
#poliform .display-5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40.4px;
  line-height: 50.08px;
  word-spacing: 12px;
}
#poliform h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30.4px;
  line-height: 45.08px;
  word-spacing: 3px;
  text-align: start;
  font-style: italic;
}
#poliform .lead {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  word-spacing: 2px;
  line-height: 25px;
  text-align: start;
  letter-spacing: normal;
}
#poli-images #threeimg .middle-img,
#poli-images #threeimg .right-img,
#poli-images #threeimg .left-img {
  width: 50%;
}
#poli-images #threeimg .left-img {
  margin-left: 50px;
}
#project-department {
  overflow-x: hidden;
  margin-top: 100px;
}
#project-department .col-10 {
  margin-right: 160px;
}
#project-department .proj {
  margin-top: -470px;
  margin-right: 700px;
}
#project-department .d-block {
  max-width: 180%;
}
#project-department .display-5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40.4px;
  line-height: 50.08px;
  word-spacing: 12px;
}
#project-department h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30.4px;
  line-height: 45.08px;
  word-spacing: 3px;
  text-align: start;
  font-style: italic;
}
#project-department .project-lead {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: solid;
  font-size: 15px;
  word-spacing: 2px;
  line-height: 25px;
  text-align: start;
  letter-spacing: normal;
}
#splendor {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#materials h1 {
  word-spacing: 1px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-style: italic;
  font-size: 38.4px;
  line-height: 42.24px;
  font-weight: 500;
  margin-top: 100px;
}
#two-img img {
  display: flex;
  margin: 77px 0px 0px -140px;
  width: 120%;
}
#touches {
  margin-top: -70px;
}
#touches h1 {
  word-spacing: 1px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-style: italic;
  font-size: 38.4px;
  line-height: 42.24px;
  font-weight: 500;
  margin-top: 100px;
}
#touches .lead {
  margin-top: 20px;
  word-spacing: 1px;
  line-height: 26.04px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}
#touches #threeimg {
  margin-top: 75px;
}
#Services {
  overflow-x: hidden;
}
#Services .container {
  margin-left: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 55px;
}
#Services .box {
  width: 260px;
  height: 75px;
  padding: 5px;
  border: 2px solid black;
}
#Services a {
  color: black;
  text-decoration: none;
  margin-top: 16px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hall {
  margin-top: 100px;
  overflow-x: hidden;
}
#hall img {
  width: 100%;
}
#project-department {
  margin-top: 57px;
  overflow-x: hidden;
}
#project-department .gift {
  max-width: 200%;
}
#project-department .accessories {
  font-weight: 400;
  font-family: "Tenor Sans", sans-serif;
  font-style: normal;
  font-size: 45.04px;
}
#project-department .touch-gleam {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
#project-department .details-design {
  font-family: "Playfair Display", serif;
  margin-top: 5px;
  word-spacing: 0;
  font-weight: 200;
}
#contact-us {
  margin-top: 90px;
  overflow-x: hidden;
}
.companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.companies h1 {
  font-weight: 700;
  font-family: "Tenor Sans", sans-serif;
  font-style: normal;
  font-size: 50px;
}
.companies img {
  margin-top: 15px;
  width: 35%;
}
.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#con {
  margin-top: 100px;
}
#personal-assistance {
  margin-top: 0;
  margin-left: 20px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#gmail,
#phone {
  width: 30%;
  height: auto;
}
#gmail img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#gmail h1 {
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  font-size: 30px;
}
#gmail p {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
#gmail a {
  margin-left: 100px;
  color: black;
  text-align: center;
  font-weight: 600;
}
#phone img {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#phone h1 {
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  font-size: 30px;
}
#phone {
  width: 25%;
}
#phone p {
  font-family: sans-serif;
  text-align: center;
  font-size: 17px;
}
#phone a {
  margin-left: 120px;
  color: black;
  text-align: center;
  font-weight: 600;
}
#footer a {
  font-weight: 400;
  color: black;
  text-align: center;
  transition: all 5s linear;
}

a:hover,
a:focus {
  text-decoration: none;
  background-color: #fff;
  color: #333;
}

@media (min-width: 360px) and (max-width: 480px) {
  /* Global Styles */
  * {
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Header Styles */

  /* Header Styles for Mobile */
  #header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: 0.2s;
    padding: 0px; /* Add some padding to the header for better spacing */
  }

  #Domio {
    margin-left: -10px; /* Adjust margin for better positioning */
    font-size: 24px; /* Adjust font size for smaller screens */
    letter-spacing: 4px;
  }
  .nav h6 {
    padding-left: 27%;
    margin-top: 2px;
    font-size: 16px; /* Adjust font size for smaller screens */
    color: black;
    margin-left: 40px; /* Adjust margin for better positioning */
  }

  .nav-item img {
    width: 16px; /* Adjust image size for smaller screens */
  }

  /* Warsaw Section Styles */
  #warsaw {
    width: 100%;
    overflow-x: hidden;
  }

  .warsaw-1 img {
    margin-top: 118px;
    width: 139%;
    margin-left: -72px;
  }

  /* Centered Hero Styles */
  .display-5 {
    letter-spacing: 0.5px;
    font-size: 20px; /* Adjust font size for smaller screens */
    font-family: "Plus Jakarta Sans";
  }

  .lead {
    font-size: 16px; /* Adjust font size for smaller screens */
    letter-spacing: 0.5px;
    font-family: "Plus Jakarta Sans";
  }

  .px-5 {
    margin: 48px 23px 0px 22px;
    border-radius: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .btn {
    background-color: #fff;
    border: 1px solid black;
    color: black;
  }

  .btn:hover {
    border: limegreen;
    color: rgb(238, 228, 157);
  }

  /* Showcasing Section Styles */
  #show-casing {
    margin-top: -108px;
    margin-left: 0;
  }
  .sh-casing {
    margin-top: 37px;
  }
  .sh-casing,
  .piana {
    text-align: start;
    letter-spacing: 3px;
    font-family: "Tenor Sans";
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .delicate {
    text-align: start;
    margin-left: -5px;
    font-family: "Tenor Sans";
    font-style: italic;
    font-size: 25px; /* Adjust font size for smaller screens */
  }

  .interior {
    margin-top: 25px;
    line-height: 24px; /* Adjust line height for smaller screens */
    font-family: Helvetica, sans-serif;
    text-align: start;
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .image-fluid {
    max-width: 136%;
    height: auto;
    margin-left: -16px;
  }

  .domio-showcasing {
    margin-top: 0;
  }

  /* Chair Section Styles */
  #chair {
    margin-top: -25px;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .chair-bed img {
    width: 100%;
    height: auto;
  }

  /* Threads Section Styles */
  #Threads {
    margin-top: 50px; /* Adjust margin for smaller screens */
  }

  .left-side {
    margin-top: 30px; /* Adjust margin for smaller screens */
  }

  .left-side img {
    padding-top: 15px;
    margin: 0;
    width: 100%;
  }

  .left {
    margin-left: 0;
  }

  .right-side {
    margin-top: 35px;
    margin-left: 0;
  }

  .right-side p {
    margin: 0;
    text-align: left;
    font-size: 15px; /* Adjust font size for smaller screens */
    letter-spacing: normal;
    line-height: 24px; /* Adjust line height for smaller screens */
    font-family: Helvetica, sans-serif;
    font-weight: 100;
  }

  .right-side a {
    color: black;
  }

  .right-side h6 {
    font-weight: 900;
    font-family: "Plus Jakarta Sans";
    text-align: left;
    font-size: 20px; /* Adjust font size for smaller screens */
    color: black;
    letter-spacing: normal;
    line-height: 24px; /* Adjust line height for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }

  /* Interior Section Styles */
  #interior {
    margin-top: 20px; /* Adjust margin for smaller screens */
  }

  .fw {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 22px; /* Adjust font size for smaller screens */
    line-height: 30px; /* Adjust line height for smaller screens */
    /* text-align: center; */
    letter-spacing: normal;
    font-weight: 500;
  }

  #interior p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    word-spacing: -2px;
    font-size: 20px; /* Adjust font size for smaller screens */
    line-height: 20px; /* Adjust line height for smaller screens */
    text-align: center;
    letter-spacing: normal;
    font-weight: 200;
    margin-top: 10px; /* Adjust margin for smaller screens */
  }

  #threeimg {
    margin-top: 50px; /* Adjust margin for smaller screens */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* #project {
    overflow-x: hidden;
  } */
  #project .img-project {
    margin-top: -40px;
    margin-left: 20px;
  }
  #project .proj {
    margin-top: 70px;
    margin-right: 700px;
  }
  #project .d-block {
    max-width: 102%;
    height: 100%;
  }
  #project .mb-3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 38.4px;
    line-height: 46.08px;
    word-spacing: 10px;
  }
  .project-lead {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    letter-spacing: normal;
  }
  #project .d-grid {
    margin: 26px 23px 0px 0px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  #project .btn-lg {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0;
    color: black;
  }

  #project .btn-lg:hover {
    border: limegreen;
    color: rgb(238, 228, 157);
  }
}
#poliform {
  overflow-x: hidden;
}
#poliform .col-10 {
  margin-left: 0;
}
#poliform .d-block {
  max-width: 123%;
  height: auto;
}
#poliform .poli {
  margin-left: 0px;
  margin-top: 45px;
}
#poliform .display-5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 26.4px;
  line-height: 50.08px;
  word-spacing: 12px;
}
#poliform h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 21.4px;
  line-height: 45.08px;
  word-spacing: 3px;
  text-align: start;
  font-style: italic;
}
#poliform .lead {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  word-spacing: 2px;
  line-height: 25px;
  text-align: start;
  letter-spacing: normal;
}
#poli-images {
  margin-top: -100px;
}
#poli-images #threeimg .middle-img,
#poli-images #threeimg .right-img,
#poli-images #threeimg .left-img {
  width: 90%;
  margin-left: 33px;
}
#project-department {
  overflow-x: hidden;
  margin-top: 100px;
}
#project-department .col-10 {
  margin-right: 160px;
}
#project-department .d-block {
  max-width: 120%;
}
#project-department .proj {
  margin-top: 50px;
  margin-right: 700px;
}
#project-department .display-5 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 35.4px;
}
#project-department h3 {
  font-family: "Playfair Display";
  font-size: 25.4px;
  line-height: 32.08px;
  word-spacing: 0px;
  text-align: start;
  font-style: italic;
}
#project-department .project-lead {
  font-family: "Open Sans", sans-serif;
  text-decoration: solid;
  font-size: 17px;
  word-spacing: 2px;
  line-height: 25px;
  text-align: start;
  letter-spacing: normal;
}
#splendor {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
#materials h1 {
  word-spacing: 1px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 37.4px;
  line-height: 38.24px;
  font-weight: 100;
}
#two-img img {
  display: flex;
  margin: 67px 0px 0px -15px;
  width: 109%;
}
#touches {
  margin-top: -100px;
}
#touches h1 {
  word-spacing: 1px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 36.4px;
  line-height: 42.24px;
  font-weight: 100;
}
#touches .lead {
  margin-top: 20px;
  word-spacing: 1px;
  line-height: 21.04px;
  font-size: 15px;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}
#touches #threeimg {
  margin-top: 75px;
}
#Services {
  overflow: hidden;
}
#Services .container {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
}
#Services .box {
  width: 168px;
  height: 83px;
  padding: 0;
  border: 2px solid black;
}
#Services a {
  color: black;
  text-decoration: none;
  margin-top: 23px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hall {
  margin-top: 100px;
  overflow-x: hidden;
}
#hall img {
  width: 150%;
}
#project-department {
  margin-top: -57px;
  overflow-x: hidden;
}
#project-department .gift {
  max-width: 135%;
}
#project-department .accessories {
  font-family: "Tenor Sans", sans-serif;
  font-style: normal;
  font-size: 35.04px;
}
#project-department .touch-gleam {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-style: normal;
}
#project-department .details-design {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-top: 5px;
  word-spacing: 0;
  font-size: 19px;
}
#contact-us {
  margin-top: -64px;
  overflow-x: hidden;
}
.companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.companies h1 {
  font-family: "Tenor Sans", sans-serif;
  font-style: normal;
  font-size: 36px;
}
.companies img {
  margin-top: 15px;
  width: 58%;
}
.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#con {
  margin-top: 45px;
}
#personal-assistance {
  margin-top: 0;
  margin-left: 20px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#gmail,
#phone {
  width: 80%;
  height: auto;
}
#gmail img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
#gmail h1 {
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
#gmail p {
  font-family: sans-serif;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0;
}
#gmail a {
  font-size: 16px;
  margin-left: -10px;
  color: black;
  text-align: center;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}
#phone img {
  margin-top: -16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
#phone h1 {
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  font-size: 17px;
}
#phone p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 16px;
}
#phone a {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-left: 70px;
  color: black;
  text-align: center;
  font-weight: 600;
}
#footer .mb-3{
  margin: 0px 0px 0px 94px;
}
#footer a {
  font-size: 20px;
  margin: 0px 50px 0px 120px;
  font-weight: 400;
  color: black;
  text-align: center;
  transition: all 5s linear;
}

a:hover,
a:focus {
  text-decoration: none;
  background-color: #fff;
  color: #333;
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Global Styles */
  * {
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Header Styles */
  #header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: 0.2s;
  }

  #Domio {
    margin-left: -5px;
    font-size: 30px; /* Adjust font size for smaller screens */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
  }

  .nav h6 {
    margin-top: 2px;
    font-size: 18px; /* Adjust font size for smaller screens */
    color: black;
    margin-left: 120px; /* Adjust margin for smaller screens */
  }

  .nav-item img {
    width: 20px; /* Adjust image size for smaller screens */
  }

  /* Warsaw Section Styles */
  #warsaw {
    overflow-x: hidden;
  }

  .warsaw-1 img {
    margin-top: 118px;
    width: 106%;
    margin-left: 0;
  }

  /* Centered Hero Styles */
  .display-5 {
    letter-spacing: 0.5px;
    font-size: 20px; /* Adjust font size for smaller screens */
    font-family: "Plus Jakarta Sans";
  }

  .lead {
    font-size: 16px; /* Adjust font size for smaller screens */
    letter-spacing: 0.5px;
    font-family: "Plus Jakarta Sans";
  }

  .px-5 {
    border-radius: 0;
    padding: 10px;
  }

  .btn {
    background-color: #fff;
    border: 1px solid black;
    color: black;
  }

  .btn:hover {
    border: limegreen;
    color: rgb(238, 228, 157);
  }

  /* Showcasing Section Styles */
  #show-casing {
    margin-top: -108px;
    margin-left: 0;
  }
  .sh-casing {
    margin-top: 37px;
  }
  .sh-casing,
  .piana {
    text-align: start;
    letter-spacing: 3px;
    font-family: "Tenor Sans";
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .delicate {
    text-align: start;
    margin-left: -5px;
    font-family: "Tenor Sans";
    font-style: italic;
    font-size: 25px; /* Adjust font size for smaller screens */
  }

  .interior {
    margin-top: 25px;
    line-height: 24px; /* Adjust line height for smaller screens */
    font-family: Helvetica, sans-serif;
    text-align: start;
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .image-fluid {
    max-width: 150%;
    height: auto;
  }

  .domio-showcasing {
    margin-top: 0;
  }

  /* Chair Section Styles */
  #chair {
    margin-top: -25px;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .chair-bed img {
    width: 100%;
    height: auto;
  }

  /* Threads Section Styles */
  #Threads {
    margin-top: 50px; /* Adjust margin for smaller screens */
  }

  .left-side {
    margin-top: 30px;
    margin-left: 68px; /* Adjust margin for smaller screens */
  }

  .left-side img {
    padding-top: 15px;
    margin: 0;
    width: 90%;
  }
  .right-side {
    margin-top: 35px;
    margin-left: 0;
  }

  .right-side p {
    margin: 0;
    text-align: left;
    font-size: 15px; /* Adjust font size for smaller screens */
    letter-spacing: normal;
    line-height: 24px; /* Adjust line height for smaller screens */
    font-family: Helvetica, sans-serif;
    font-weight: 100;
  }

  .right-side a {
    color: black;
  }

  .right-side h6 {
    font-weight: 900;
    font-family: "Plus Jakarta Sans";
    text-align: left;
    font-size: 20px; /* Adjust font size for smaller screens */
    color: black;
    letter-spacing: normal;
    line-height: 24px; /* Adjust line height for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }

  /* Interior Section Styles */
  #interior {
    margin-top: 20px; /* Adjust margin for smaller screens */
  }

  .fw {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 22px; /* Adjust font size for smaller screens */
    line-height: 30px; /* Adjust line height for smaller screens */
    /* text-align: center; */
    letter-spacing: normal;
    font-weight: 500;
  }

  #interior p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    word-spacing: -2px;
    font-size: 20px; /* Adjust font size for smaller screens */
    line-height: 20px; /* Adjust line height for smaller screens */
    text-align: center;
    letter-spacing: normal;
    font-weight: 200;
    margin-top: 10px; /* Adjust margin for smaller screens */
  }

  #threeimg {
    width: 100%;
    margin-top: 50px; /* Adjust margin for smaller screens */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .left-img img,
  .middle-img img,
  .right-img img {
    width: 70%;
  }
  #project {
    overflow-x: hidden;
  }
  #project .img-project {
    margin-top: -200px;
    /* margin-right: 100px; */
    margin-left: 12px;
  }
  #project .d-block {
    max-width: 150%;
    height: 100%;
  }
  #project .proj {
    margin-top: 100px;
    margin-right: 700px;
  }
  #project .mb-3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 38.4px;
    line-height: 46.08px;
    word-spacing: 10px;
  }
  .project-lead {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    letter-spacing: normal;
  }
  #project .d-grid {
    margin: 26px 0px 0px 0px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  #project .btn-lg {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0;
    color: black;
    width: 50%;
  }

  #project .btn-lg:hover {
    border: limegreen;
    color: rgb(238, 228, 157);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* Global Styles */
  * {
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Header Styles */
  #header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: 0.2s;
  }

  #Domio {
    margin-left: -5px;
    font-size: 30px; /* Adjust font size for smaller screens */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
  }

  .nav h6 {
    margin-top: 2px;
    font-size: 18px; /* Adjust font size for smaller screens */
    color: black;
    margin-left: 120px; /* Adjust margin for smaller screens */
  }

  .nav-item img {
    width: 20px; /* Adjust image size for smaller screens */
  }

  /* Warsaw Section Styles */
  #warsaw {
    overflow-x: hidden;
  }

  .warsaw-1 img {
    margin-top: 118px;
    width: 100%;
    margin-left: 0;
  }

  /* Centered Hero Styles */
  .display-5 {
    letter-spacing: 0.5px;
    font-size: 20px; /* Adjust font size for smaller screens */
    font-family: "Plus Jakarta Sans";
  }

  .lead {
    font-size: 16px; /* Adjust font size for smaller screens */
    letter-spacing: 0.5px;
    font-family: "Plus Jakarta Sans";
  }

  .px-5 {
    border-radius: 0;
    padding: 10px;
  }

  .btn {
    background-color: #fff;
    border: 1px solid black;
    color: black;
  }

  .btn:hover {
    border: limegreen;
    color: rgb(238, 228, 157);
  }

  /* Showcasing Section Styles */
  #show-casing {
    margin-top: -108px;
    margin-left: 0;
  }
  .sh-casing {
    margin-top: 37px;
  }
  .sh-casing,
  .piana {
    text-align: start;
    letter-spacing: 3px;
    font-family: "Tenor Sans";
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .delicate {
    text-align: start;
    margin-left: -5px;
    font-family: "Tenor Sans";
    font-style: italic;
    font-size: 25px; /* Adjust font size for smaller screens */
  }

  .interior {
    margin-top: 25px;
    line-height: 24px; /* Adjust line height for smaller screens */
    font-family: Helvetica, sans-serif;
    text-align: start;
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .image-fluid {
    max-width: 150%;
    height: auto;
  }

  .domio-showcasing {
    margin-top: 0;
  }

  /* Chair Section Styles */
  #chair {
    margin-top: -25px;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .chair-bed img {
    width: 100%;
    height: auto;
  }

  /* Threads Section Styles */
  #Threads {
    margin-top: 50px; /* Adjust margin for smaller screens */
  }

  .left-side {
    margin-top: 30px; /* Adjust margin for smaller screens */
  }

  .left-side img {
    padding-top: 15px;
    margin: 0;
    width: 100%;
  }
  .right-side {
    margin-top: 35px;
    margin-left: 0;
  }

  .right-side p {
    margin: 0;
    text-align: left;
    font-size: 15px; /* Adjust font size for smaller screens */
    letter-spacing: normal;
    line-height: 24px; /* Adjust line height for smaller screens */
    font-family: Helvetica, sans-serif;
    font-weight: 100;
  }

  .right-side a {
    color: black;
  }

  .right-side h6 {
    font-weight: 900;
    font-family: "Plus Jakarta Sans";
    text-align: left;
    font-size: 20px; /* Adjust font size for smaller screens */
    color: black;
    letter-spacing: normal;
    line-height: 24px; /* Adjust line height for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }

  /* Interior Section Styles */
  #interior {
    margin-top: 20px; /* Adjust margin for smaller screens */
  }

  .fw {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 22px; /* Adjust font size for smaller screens */
    line-height: 30px; /* Adjust line height for smaller screens */
    /* text-align: center; */
    letter-spacing: normal;
    font-weight: 500;
  }

  #interior p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    word-spacing: -2px;
    font-size: 20px; /* Adjust font size for smaller screens */
    line-height: 20px; /* Adjust line height for smaller screens */
    text-align: center;
    letter-spacing: normal;
    font-weight: 200;
    margin-top: 10px; /* Adjust margin for smaller screens */
  }

  #threeimg {
    margin-top: 50px; /* Adjust margin for smaller screens */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .left-img img,
  .middle-img img,
  .right-img img {
    width: 70%;
  }
  #project {
    overflow-x: hidden;
  }
  #project .img-project {
    margin-top: -27px;
    /* margin-right: 150px; */
    margin-left: 120px;
  }
  #project .d-block {
    max-width: 100%;
    height: 100%;
  }
  #project .proj {
    margin-top: 100px;
    margin-right: 700px;
  }
  #project .mb-3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 38.4px;
    line-height: 46.08px;
    word-spacing: 10px;
  }
  .project-lead {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    letter-spacing: normal;
  }
  #project .d-grid {
    margin: 26px 23px 0px 0px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  #project .btn-lg {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0;
    color: black;
  }

  #project .btn-lg:hover {
    border: limegreen;
    color: rgb(238, 228, 157);
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  * {
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Header Styles */
  #header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: 0.2s;
  }

  #Domio {
    margin-left: -5px;
    font-size: 30px; /* Adjust font size for smaller screens */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
  }

  .nav h6 {
    margin-top: 2px;
    font-size: 18px; /* Adjust font size for smaller screens */
    color: black;
    margin-left: 120px; /* Adjust margin for smaller screens */
  }

  .nav-item img {
    width: 20px; /* Adjust image size for smaller screens */
  }

  /* Warsaw Section Styles */
  #warsaw {
    overflow-x: hidden;
  }

  .warsaw-1 img {
    margin-top: 118px;
    width: 100%;
    margin-left: 0;
  }

  /* Centered Hero Styles */
  .display-5 {
    letter-spacing: 0.5px;
    font-size: 20px; /* Adjust font size for smaller screens */
    font-family: "Plus Jakarta Sans";
  }

  .lead {
    font-size: 16px; /* Adjust font size for smaller screens */
    letter-spacing: 0.5px;
    font-family: "Plus Jakarta Sans";
  }

  .px-5 {
    border-radius: 0;
    padding: 10px;
  }

  .btn {
    background-color: #fff;
    border: 1px solid black;
    color: black;
  }

  .btn:hover {
    border: 1px solid limegreen; /* Corrected border style */
    color: rgb(238, 228, 157);
  }

  /* Showcasing Section Styles */
  #show-casing {
    margin-top: -108px;
    margin-left: 0;
  }
  .sh-casing {
    margin-top: 37px;
  }
  .sh-casing,
  .piana {
    text-align: start;
    letter-spacing: 3px;
    font-family: "Tenor Sans";
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .delicate {
    text-align: start;
    margin-left: -5px;
    font-family: "Tenor Sans";
    font-style: italic;
    font-size: 25px; /* Adjust font size for smaller screens */
  }

  .interior {
    margin-top: 25px;
    line-height: 24px; /* Adjust line height for smaller screens */
    font-family: Helvetica, sans-serif;
    text-align: start;
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .image-fluid {
    max-width: 150%;
    height: auto;
  }

  .domio-showcasing {
    margin-top: 0;
  }

  /* Chair Section Styles */
  #chair {
    margin-top: -25px; /* Corrected the unit */
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .chair-bed img {
    width: 100%;
    height: auto;
  }

  /* Threads Section Styles */
  #Threads {
    margin-top: 50px; /* Adjust margin for smaller screens */
  }

  .left-side {
    margin-top: 30px; /* Adjust margin for smaller screens */
  }
  .left-side img {
    padding-top: 15px;
    width: 32%;
    margin-left: -18px;
    margin-right: 69px;
  }
  .right-side {
    margin-top: -371px;
    margin-left: 684px;
  }

  .right-side p {
    margin: 0;
    text-align: left;
    font-size: 15px; /* Adjust font size for smaller screens */
    letter-spacing: normal;
    line-height: 24px; /* Adjust line height for smaller screens */
    font-family: Helvetica, sans-serif;
    font-weight: 100;
  }

  .right-side a {
    color: black;
  }

  .right-side h6 {
    font-weight: 900;
    font-family: "Plus Jakarta Sans";
    text-align: left;
    font-size: 20px; /* Adjust font size for smaller screens */
    color: black;
    letter-spacing: normal;
    line-height: 24px; /* Adjust line height for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }

  /* Interior Section Styles */
  #interior {
    margin-top: 20px; /* Adjust margin for smaller screens */
  }

  .fw {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 22px; /* Adjust font size for smaller screens */
    line-height: 30px; /* Adjust line height for smaller screens */
    /* text-align: center; */
    letter-spacing: normal;
    font-weight: 500;
  }

  #interior p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    word-spacing: -2px;
    font-size: 20px; /* Adjust font size for smaller screens */
    line-height: 20px; /* Adjust line height for smaller screens */
    text-align: center;
    letter-spacing: normal;
    font-weight: 200;
    margin-top: 10px; /* Adjust margin for smaller screens */
  }

  #threeimg {
    margin-top: 50px; /* Adjust margin for smaller screens */
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .left-img img,
  .middle-img img,
  .right-img img {
    width: 90%;
  }
  #project {
    overflow-x: hidden;
    margin-top: 100px;
  }
  #project .img-project {
    margin-top: -27px;
    margin-right: 59px;
    /* margin-left: 120px; */
  }
  #project .d-block {
    max-width: 155%;
    height: 100%;
  }
  #project .proj {
    background-color: transparent;
    margin-top: -566px;
    margin-right: 520px;
  }
  #project .mb-3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 44.4px;
    line-height: 46.08;
  }
  .project-lead {
    margin-top: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    letter-spacing: normal;
  }
  #project .d-grid {
    margin: 26px 23px 0px 0px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  #project .btn-lg {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0;
    color: black;
  }

  #project .btn-lg:hover {
    border: limegreen;
    color: rgb(238, 228, 157);
  }
}
